<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EventHubWriter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <EventHubWriter.Properties.Settings>
            <setting name="EventHubPolicyName" serializeAs="String">
                <value>writer</value>
            </setting>
            <setting name="EventHubPolicyKey" serializeAs="String">
                <value>The writer policy key</value>
            </setting>
            <setting name="EventHubNamespace" serializeAs="String">
                <value>The Event Hub namespace</value>
            </setting>
            <setting name="EventHubName" serializeAs="String">
                <value>The Event Hub name</value>
            </setting>
            <setting name="EventHubPartitionCount" serializeAs="String">
                <value>16</value>
            </setting>
        </EventHubWriter.Properties.Settings>
    </applicationSettings>
</configuration>