<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--All the app settings should be moved from App.config to SCPHost.exe.config as the topologies created as a class library run through executable SCPHost.exe-->
  <!--These fields will be populated in the dropped copy of SCPHost.exe.config inside the bin directory by HDInsight.Examples.CLI-->
  <appSettings>
    <!--Specify the config for Event Hub-->
    <add key="EventHubNamespace" value="##TOBEFILLED##" />
    <add key="EventHubEntityPath" value="##TOBEFILLED##" />
    <add key="EventHubSharedAccessKeyName" value="##TOBEFILLED##" />
    <add key="EventHubSharedAccessKey" value="##TOBEFILLED##" />
    <add key="EventHubPartitions" value="##TOBEFILLED##" />
    <add key="EventCountPerPartition" value="3200000" />
    <!--Specify the config for SQL Azure-->
    <add key="SqlDbServerName" value="##TOBEFILLED##" />
    <add key="SqlDbDatabaseName" value="##TOBEFILLED##" />
    <add key="SqlDbUsername" value="##TOBEFILLED##" />
    <add key="SqlDbPassword" value="##TOBEFILLED##" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>